.blank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 75px auto 25px;
}

@media screen and (min-width: 1280px) {
  .blank {
    margin: 54px auto 37px;

  }
}