.profile__avatar {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	transition-duration: 2s;
	cursor: pointer;
	position: relative;
}

.profile__avatar:hover {
	opacity: 0.6;
}
