.sign-page__underline-link {
	color: #ffffff;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	text-decoration: none;
	transition-duration: 1s;
}

.sign-page__underline-link:hover {
	opacity: 0.6;
}
