.blank__accept {
	width: 238px;
	height: 46px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 2px;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	cursor: pointer;
	transition-duration: 1s;
	border: none;
}

.blank__accept:hover {
	opacity: 0.8;
}

@media screen and (min-width: 768px) {
	.blank__accept {
		width: 358px;
		height: 50px;
		font-size: 18px;
		line-height: 22px;
	}
}

.blank__accept:disabled {
	opacity: 0.2;
	cursor: non-allowed;
}
