.sign-page__exit-button {
	cursor: pointer;
	transition-duration: 1s;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	align-self: center;
	cursor: pointer;
	border: none;
	background: none;
	color: #ffffff;
	padding: 0;
}
