.sign-page__text {
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	padding: 28px 24px 32px 0;
	text-align: center;
	text-decoration: none;
	transition-duration: 1s;
	background-color: none;
}

.sign-page__text:hover {
	opacity: 0.6;
}
